<div class="back-btn" [routerLink]="['..']">
  <img class="back-arrow" src="./assets/images/arrow_back_ios_black_24dp.svg" alt="back-btn">
</div>

<span class="title">Post new job offer</span>
<div class="scroll-container">
  <form class="form-container" [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="company">Company Name<span class="required"></span></label>
      <input class="form-input" type="text" id="company" formControlName="company">
    </div>
    <div class="form-control">
      <label for="position">Position<span class="required"></span></label>
      <input class="form-input" type="text" id="position" formControlName="position">
    </div>
    <div class="form-control">
      <label for="contract">Type of contract</label>
      <input class="form-input" type="text" id="contract" formControlName="contract">
    </div>
    <div class="form-control">
      <label for="location">Location</label>
      <input class="form-input" type="text" id="location" formControlName="location">
    </div>
    <div class="form-control">
      <label for="role">Role</label>
      <input class="form-input" type="text" id="role" formControlName="role">
    </div>
    <div class="form-control">
      <label for="level">Level</label>
      <input class="form-input" type="text" id="level" formControlName="level">
    </div>
    <app-chips labelTitle="Languages" (filtersChanged)="onFiltersChanged($event)" (addFilter)="onAddLanguage($event)"
               (removeFilter)="onRemoveLanguage($event)"
    >
    </app-chips>

    <app-chips labelTitle="Tools" (filtersChanged)="onFiltersChanged($event)" (addFilter)="onAddTool($event)"
               (removeFilter)="onRemoveTool($event)"
    ></app-chips>
    <div class="check-container">
      <input class="check" type="checkbox" id="check" formControlName="featured">
      <label>Featured for an additional charge</label>
    </div>
    <div class="buttons">
      <button class="btn" type="reset">Discard</button>
      <button class="btn create" type="submit" [disabled]="!jobForm.valid">Create</button>
    </div>
  </form>
</div>
