@import "colors";

:host {
  background-color: $light-color;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin: 130px 0 20px;
  width: 100%;
  max-width: 1440px;
}

.btn {
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background: none;
  color: $v-dark-color;
  opacity: 0.6;
  padding-left: 15px;
}

