@import "colors";

:host {
  background-image: url("../assets/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  @media(min-width: 375px) {
    background-image: url("../assets/images/bg-header-desktop.svg");
  }

  @media(min-width: 1440px) {
    background-size: contain;
  }
}



